$accent: #2B3244;
$red: #ff0007;
/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body{
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
}

header, section, footer{
  margin: auto;
}

a{
  text-decoration: none;
  &:focus{
    outline: none!important;
  }
}

a:hover, a:focus, a:active{
  text-decoration: none;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, button{
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
figure{
  margin: 0;
  img{
    width: auto;
    max-width: 100%;
    vertical-align: top;
  }
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
  }
}
p, a{
  color: $accent;
  margin: 0;
}
input{
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
}
.content-width{
  width: 1140px;
  margin: auto;
}
h1{
  margin: 0 0 30px;
}
h2{
  color: #000000;
  font-size: 50px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 30px;
}
h3{
  margin: 0 0 30px;
}
h4{
  margin: 0 0 30px;
}
h5{
  margin: 0 0 10px;
}
h6{
  margin: 0 0 10px;
}

input:invalid {
  box-shadow: none;
}

input, textarea, button{
  outline: none!important;
}
/*------------------------------HEADER-------------------------------*/
.top-line{
  background-color: #fff;
  padding: 7px 0;
  .content-width-100{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  .left{
    display: flex;
    align-items: center;
  }
  .logo{
    margin-right: 30px;
    width: 100px;
    img{
      vertical-align: top;
      width: 100%;
    }
  }
  .top-menu{
    &>ul{
      display: flex;
      &>li{
        margin-right: 20px;
        position: relative;
        padding: 5px 0;
        &>a{
          color: #000;
          font-size: 16px;
          display: inline-block;
          line-height: normal;
          padding: 5px 0;
          font-weight: 400;
          position: relative;
          z-index: 10;
          &:after{
            position: absolute;
            bottom:0;
            left: 0;
            right: 0;
            content: '';
            height: 2px;
            background: #000;
            transform: scaleX(0);
            transition: all .4s ease;
          }
          &:hover{
            opacity: 0.7;
            &:after{
              transform: scaleX(1);
            }
          }
        }
      }
      li.sub{
        &:before{
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          height: 15px;
          content: '';
        }
        &:hover{
          .sub-menu{
            opacity: 1;
            visibility: visible;
          }
          a{
            &:before{
              transform: rotate(-135deg);
            }
            &:after{
              transform: scaleX(1);
            }
          }
        }
        &>a{
          padding-right: 15px;
          &:before{
            border-bottom: 2px solid #000;
            border-right: 2px solid #000;
            content: '';
            display: block;
            height: 5px;
            margin-top: -4px;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform-origin: 66% 66%;
            -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
            width: 5px;
          }

        }
      }
      &>li:last-child{
        margin-right: 0;
      }
    }
  }
  .sub-menu{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #0d83d0;
    border-radius: 10px;
    display: inline-block;
    opacity: 0;
    z-index: 6000000;
    min-width: 150px;
    text-align: center;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
    -webkit-font-smoothing: antialiased;
    -o-transition: opacity 0.2s cubic-bezier(.895,.03,.685,.22);
    transition: opacity 0.2s cubic-bezier(.895,.03,.685,.22);
    -webkit-transition: opacity 0.2s cubic-bezier(.895,.03,.685,.22);
    visibility: hidden;
    width: fit-content;
    padding: 15px 30px 10px;
    li{
      margin-bottom: 5px;
      text-align: center;
      a{
        color: #ffffff;
        font-weight: 400;
        white-space: nowrap;
        &:hover{
          color: #eeeeee;
        }
      }
    }
  }
  .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .btn-wrap{
    margin-left: 30px;
  }
  .soc-wrap{
    margin-left: 30px;
  }
  .tel-wrap{
    display: inline-block;
    padding-top: 3px;
    a{
      color: #000;
      font-size: 16px;
      font-weight: 700;
      display: inline-block;
      position: relative;
      &:after{
        position: absolute;
        bottom:0;
        left: 0;
        right: 0;
        content: '';
        height: 2px;
        background: #3b3b3b;
        transform: scaleX(0);
        transition: all .4s ease;
      }
      &:hover{
        color: #3b3b3b;
        &:after{
          transform: scaleX(1);
        }
      }
    }
  }
}
.btn{
  display: inline-block;
  cursor: pointer;
  outline: none!important;
  height: 40px;
  line-height: 38px;
  color: #ffffff;
  background-color: #13ce66;
  border-radius: 10px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #13ce66;
  &:hover{
    background: #fff;
    color: #13ce66;
  }
}
.soc-wrap{
  display: inline-block;
  ul{
    display: flex;
    li{
      width: 30px;
      height: 30px;
      margin-left: 10px;
      a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: #fff;
        color: rgba(13,131,208,1);
        i{
          font-size: 18px;
        }
        img{
          width: 30px;
        }
      }
    }
    li:first-child{
      margin-left: 0;
      a{
        img{
          width: 38px;
        }
      }
    }
    li:nth-child(2){
      a{
        img{
          width: 35px;
        }
      }
    }
  }
}
/*-----------------------------END-HEADER-------------------------------*/
/*-----------------------------HOME-BANNER-------------------------------*/
.home-banner{
  padding: 30px 0 60px;
  h1{
    color: #000000;
    font-size: 56px;
    line-height: 1.55;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }
  h6{
    color: #000000;
    font-size: 20px;
    font-family: 'Rubik',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    max-width: 660px;
    text-align: center;
    margin: 0 auto 15px;
  }
  ul{
    max-width: 500px;
    margin: 0 auto 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li{
      width: 140px;
      display: flex;
      align-items: center;
      img{
        margin-right: 10px;
        width: 20px;
      }
      p{
        color: #000000;
        font-size: 16px;
        line-height: 1.55;
        margin: 0;
      }
    }
  }
  .img-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    figure{
      position: relative;
    }
  }
  .btn-wrap{
    text-align: center;
    margin-bottom: 15px;
  }
  .link-wrap{
    text-align: center;
    a{
      display: inline-block;
      color: #0d83d0;
      font-size: 16px;
      line-height: 1.55;
      font-weight: 400;
      &:hover{
        color: #13ce66;
      }
    }
  }
}

.btn-default{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: none!important;
  text-align: center;
  padding: 0 25px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
  color: #fff;
  background-color: #13ce66;
  &:hover{
    background-color: #0d83d0;
  }
}
.btn-blue{
  background-color: #0d83d0;
  &:hover{
    background-color: #13ce66;
  }
}
.btn-big{
  height: 60px;
  line-height: 60px;
  font-size: 19px;
  background-color: #19ba75;
}
/*----------------------------END-HOME-BANNER-------------------------------*/
/*----------------------------INFO-BUY-------------------------------*/
.info-buy{
  background-color: #eeeeee;
  padding: 50px 0 50px;
  .content{
    display: flex;
    flex-wrap: wrap;
    .item{
      width: 25%;
      height: 285px;
      background: #fff;
      .wrap{
        padding: 20px;
        h4{
          color: #000000;
          font-size: 26px;
          line-height: 1.55;
          font-weight: 700;
          margin-bottom: 15px;
        }
        p{
          color: #000000;
          font-size: 16px;
          line-height: 1.55;
          font-weight: 400;
        }
      }
      figure{
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
  h2{
    max-width: 660px;
  }
}
.popup-quiz{
  width: 660px;
  padding: 0;
  .top{
    padding: 35px 45px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    .wrap{
      width: calc(100% - 100px);
    }
    .total-wrap{
      width: 50px;
      p{
        font-weight: 700;
        color: #000;
        font-size: 14px;
        line-height: 1.2;
        span{
          display: inline-block;
          margin: 0 2px;
        }
      }
    }
    .last{
      display: none;
    }
    .all{
      h6{
        font-weight: 700;
        color: #000;
        font-size: 14px;
        line-height: 1.2;
        margin: 0;
        display: flex;
        align-items: center;
        i{
          color: #0d83d0;
          margin-right: 10px;
          font-size: 18px;
        }
      }
    }
  }
  .swiper-pagination-progressbar{
    position: relative;
  }
  .content{
    padding: 35px 45px 20px;
    h6{
      font-size: 16px;
      margin-bottom: 10px;
      line-height: normal;
      color: #000;
    }
    p{
      font-size: 14px;
      line-height: 1.55;
      opacity: 0.7;
      margin-bottom: 10px;
    }
  }
  .nav-wrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 45px 70px;
    button{
      display: none;
      height: 44px;
      width: auto;
      padding: 0 30px;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 44px;
      color: #fff;
      background-color: #0d83d0;
      outline: none;
      border-radius: 6px;
      margin: 0;
      top: 0;
      border: none!important;
      cursor: pointer;
      &:hover{
        background-color: #13ce66;
      }
    }
    &>div{
      position: relative;
      left: 0;
      right: 0;
      cursor: pointer;
      height: 44px;
      width: 128px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 44px;
      color: #fff;
      background-color: #0d83d0;
      outline: none;
      border-radius: 6px;
      margin: 0;
      top: 0;
      &:hover{
        background-color: #13ce66;
      }
      &:after{
        display: none;
      }
    }
    .quiz-prev{
      i{
        margin-right: 10px;
      }
    }
    .quiz-next{
      i{
        margin-left: 10px;
      }
    }
  }

  .select-block{
    .input-wrap-radio{
      margin-bottom: 10px;
      input{
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
      }
      label{
        display: block;
        position: relative;
        padding-left: 30px;
        font-size: 15px;
        line-height: 1.55;
        color: #000;
        cursor: pointer;
        span{
          display: inline-block;
          position: absolute;
          top: 2px;
          left: 0;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          border: 2px solid #000;
        }
      }
      input:checked + label{
        span{
          &:after{
            position: absolute;
            top: 50%;
            width: 10px;
            height: 10px;
            left: 50%;
            transform: translate(-50%,-50%);
            content: '';
            background: #000;
            border-radius: 100%;
          }
        }
      }
    }
    .input-wrap{
      position: relative;
      input{
        position: relative;
        z-index: 4;
        padding: 26px 0 10px 0;
        border: none;
        border-bottom: 1px solid #b3b3b3;
        outline: none!important;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        background: transparent;
        border-radius: 0;
      }
      label{
        font-size: 16px;
        line-height: 1;
        opacity: .5;
        position: absolute;
        left: 0;
        top: 22px;
        height: 16px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: transform .2s linear;
        transition: transform .2s linear;
        -webkit-transform-origin: left;
        transform-origin: left;
        pointer-events: none;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .is-focus, .is-active{
        transform: translateY(-100%) scale(.7);
        text-overflow: inherit;
        width: auto;
      }
    }
  }
  .label-warning{
    display: none;
    color: red;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 10px;
  }
  .input-wrap-fix{
    label{
      display: none;
    }
    input{
      position: relative;
      z-index: 4;
      padding: 18px 0 18px 0;
      border: none;
      border-bottom: 1px solid #b3b3b3;
      outline: none!important;
      height: 60px;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      background: transparent;
    }
  }
  .swiper-slide{
    min-height: 200px;
  }
}
.popup-quiz.is-complete{
  .nav-wrap{
    .btn-submit{
      display: flex;
    }
    .quiz-next{
      display: none;
    }
  }
  .all{
    display: none;
  }
  .last{
    display: block;
  }

}
.iti{
  width: 100%;
  height: 60px;
}
.iti--separate-dial-code .iti__selected-flag{
  background: transparent;
}
.iti__flag-container{
  z-index: 10;
}
.hide-submit{
  .nav-wrap{
    &:after{
      position: absolute;
      top: 0;
      right: 45px;
      height: 44px;
      cursor: no-drop;
      content: '';
      width: 207px;
      background: rgba(#fff, 0.5);
    }
  }
}
.default-popup{
  width: 660px;
}
.popup-choice{
  padding: 40px 45px;
  background: #fff;
  h3{
    font-size: 36px;
    line-height: normal;
    margin-bottom: 15px;
  }
  h6{
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
  }
  h5{
    font-size: 20px;
    line-height: 1.55;
    margin-bottom: 5px;
  }
  p{
    font-size: 14px;
    line-height: 1.3;
    opacity: 0.7;
    margin-bottom: 15px;
  }
  p.info{
    font-size: 15px;
    line-height: 1.3;
    margin: 0;
    text-align: center;
    opacity: 1;
    font-weight: 400;
  }
}
ul.point-list{
  margin: 0 0 35px;
  li{
    padding-left: 10px;
    position: relative;
    margin-bottom: 1px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    &:before{
      position: absolute;
      top: 9px;
      left: 0;
      width: 4px;
      height: 4px;
      content: '';
      border-radius: 100%;
      background: #000;

    }
  }
}

.form-default{
  .input-wrap{
    position: relative;
    margin-bottom: 25px;
    input{
      position: relative;
      z-index: 4;
      padding: 26px 20px 10px 20px;
      border: 1px solid #c9c9c9;
      outline: none!important;
      height: 60px;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      background: transparent;
      border-radius: 5px;
    }
    label{
      font-size: 16px;
      line-height: 1;
      opacity: .5;
      position: absolute;
      left: 20px;
      top: 22px;
      height: 16px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition: transform .2s linear;
      transition: transform .2s linear;
      -webkit-transform-origin: left;
      transform-origin: left;
      pointer-events: none;
      white-space: nowrap;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .is-focus, .is-active{
      transform: translateY(-100%) scale(.7);
      text-overflow: inherit;
      width: auto;
    }
  }
  .input-wrap-fix {
    label {
      display: none;
    }
    input{
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  .input-wrap-submit{
    margin-bottom: 20px;
    button{
      width: 100%;
      border: none;
      cursor: pointer;
      height: 54px;
      line-height: 54px;
      font-size: 16px;
    }
  }
}
/*---------------------------END-INFO-BUY-------------------------------*/
/*---------------------------TYPES-EQUIPMENT-------------------------------*/
.types-equipment{
  padding: 75px 0 125px;
  background: #fff;
  position: relative;
  h2{
    margin-bottom: 30px;
  }
  .title{
    max-width: 700px;
    margin-bottom: 40px;
    p{
      color: #000000;
      font-size: 16px;
      line-height: 1.55;
      font-weight: 400;
    }
  }
  .slider-wrap{
    position: relative;
    .nav-wrap{
      position: absolute;
      top: 50%;
      left: -50px;
      right: -50px;
      display: flex;
      justify-content: space-between;
      &>div{
        cursor: pointer;
        display: inline-block;
        width: 25px;
        height: 38px;
        transition: all .4s ease;
        transform-origin: center;
        transform: scale(1);
        margin-top: -14px;
        img{
          width: 100%;
          transition: all .4s ease;
        }
        &:after{
          display: none;
        }
        &:hover{
          img{
            transform: scale(1.2);

          }
        }
      }
      .equipment-next{
        img{
          transform: rotate(180deg)scale(1);
        }
        &:hover{
          img{
            transform: scale(1.2)rotate(180deg);
          }
        }
      }
    }
  }
}

.equipment-slider{
  h4{
    color: #000000;
    font-size: 25px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 20px;
    text-align: center;
  }
  figure{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    img{
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }
  .text-wrap{
    margin-bottom: 15px;
    min-height: 70px;
    p{
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
    }
  }
  .btn-wrap{
    a{
      width: 100%;
    }
  }
}
.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
}
/*--------------------------END-TYPES-EQUIPMENT-------------------------------*/
/*--------------------------AUTO-USA-------------------------------*/
.auto-usa{
  padding: 75px 0 75px;
  background: #eeeeee;
  h2{
    margin-bottom: 20px;
  }
  p{
    font-weight: 400;
  }
  .tabs{
    margin-top: 30px;
  }
  .slider-wrap{
    padding: 15px;
    border-radius: 10px;
    background: #fff;
  }
  .tabs-menu{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(#000, 0.5);
    margin-bottom: 20px;
    li{
      width: 25%;
      padding: 10px;
      cursor: pointer;
      text-align: center;
      position: relative;
      font-size: 16px;
      line-height: 1.35;
      transition: all .4s ease;
      &:after{
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        content: '';
        height: 2px;
        transition: all .4s ease;
        transform: scaleX(0);
        background: #0d83d0;
      }
      &:hover{
        color: #0d83d0;

      }
    }
    .is-active{
      font-weight: 700;
      color: #0d83d0;
      &:after{
        transform: scaleX(1);
      }
    }
  }
  .auto-slider{
    padding: 5px;
    background: #fff;
    .wrap{
      padding: 0 15px 15px;
      box-shadow: 2px 2px 10px 0px rgba(168,168,168,1);
      border-radius: 0 0 10px 10px;
    }
    figure{
      width: calc(100% + 30px);
      max-width: calc(100% + 30px);
      margin-left: -15px;
      height: 190px;
      margin-bottom: 10px;
      overflow: hidden;
      a{
        pointer-events: none;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s ease;
      }
      /*&:hover{
        img{
          transform: scale(1.02);
        }
      }*/
    }
    h6{
      color: #000000;
      font-size: 20px;
      line-height: 1.55;
      font-weight: 700;
      margin-bottom: 10px;
    }
    ul{
      margin-bottom: 10px;
      li{
        display: inline-block;
        margin: 0 5px 5px 0;
        p{
          display: flex;
          align-items: center;
          white-space: nowrap;
          margin: 0;
          font-size: 14px;
          line-height: 1.4;
          img{
            display: inline-block;
            margin-right: 5px;
            width: 20px;
          }
        }
      }
    }
    p{
      color: #000000;
      font-size: 12px;
      line-height: 1.55;
      font-weight: 400;
      margin-bottom: 10px;
      text-align: center;
    }
    p.cost{
      color: #13ce66;
      font-size: 22px;
      line-height: 1.55;
      font-weight: 700;
      text-align: center;
      margin-bottom: 5px;
    }
    .btn-wrap{
      a{
        width: 100%;
      }
    }
  }
  .swiper-pagination{
    position: relative;
    bottom: 0;
    margin-top: 15px;
  }
}

.popup-tel{
  width: 560px;
  padding: 40px 45px;
  background: #fff;
  h3{
    font-size: 36px;
    line-height: normal;
    margin-bottom: 15px;
  }
  h6{
    font-size: 16px;
    line-height: 1.3;
    margin: 0 0 20px;
  }
  p{
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    margin-top: 15px;
  }
  p + p{
    margin-top: 0;
  }
}
/*-------------------------END-AUTO-USA-------------------------------*/
/*-------------------------DELIVERY-------------------------------*/
.delivery{
  position: relative;
  .full-bg{
    padding: 75px 0 20px;
    text-align: center;
    background: url("../img/bg-1.jpg")no-repeat center;
    background-size: cover;
    position: relative;
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: rgba(#000,0.7);
    }
    .content-width{
      position: relative;
      z-index: 1;
    }
    .scroll{
      display: inline-block;
      margin: auto;
      i{
        font-size: 40px;
        color: #fff;
        transition: all .4s ease;
        animation: top 1.5s infinite linear;
        top: 0;
        display: inline-block;
        position: relative;
      }
    }
  }
  h2{
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
  }
  h4{
    margin-bottom: 200px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    line-height: normal;
  }

  .content{
    padding: 50px 0 75px;
    text-align: center;
    h6{
      font-size: 18px;
      line-height: 1.55;
      font-weight: 400;
      display: inline-block;
      max-width: 820px;
      margin: 0 auto 40px;
      text-align: center;
    }
    h5{
      font-size: 25px;
      line-height: 1.55;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .info-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 0 20px;
    li{
      width: 45%;
      margin-bottom: 40px;
      p{
        margin: 0;
      }
      p.info{
        margin-bottom: 20px;
        display: inline-block;
        color: #0d83d0;
        font-size: 18px;
        padding: 5px 10px;
        border: 3px solid #0d83d0;
        border-radius: 10px;
      }
      h5{
        font-size: 24px;
        line-height: 1.55;
        font-weight: 700;
        margin-bottom: 30px;
      }
    }
  }
  .doc-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li{
      width: 30%;
      figure{
        height: 50px;
        margin-bottom: 15px;
        img{
          width: 50px;
          max-height: 100%;
        }
      }
      h6{
        font-size: 20px;
        line-height: 1.55;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: center;
      }
      p{
        text-align: center;
      }
    }
  }
}

@keyframes top {
  0%{
    top: 0;
  }
  50%{
    top: -7px;
  }
  100%{
    top: 0;
  }
}
/*------------------------END-DELIVERY-------------------------------*/
/*------------------------AUTO-WAY-------------------------------*/
.auto-way{
  padding: 75px 0 75px;
  background: #eeeeee;
  h2{
    margin-bottom: 30px;
  }
  .swiper-pagination{
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
}

.auto-way-slider{
  .swiper-slide{
    border-radius: 0 0 10px 10px;
    background: #fff;
  }
  figure{
    width: 100%;
    height: 170px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    .video-wrap{
      width: 100%;
      height: 100%;
      iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .bg-img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        cursor: pointer;
        &:after{
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50px;
          height: 50px;
          background: #000;
          border-radius: 100%;
          transform: translate(-50%,-50%);
          transition: all .4s ease;
          z-index: 10;
          content: '';
        }
        i{
          position: absolute;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          line-height: 20px;
          color: #fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 11;
        }
        &:hover{
          &:after{
          width: 55px;
          height: 55px;
        }
        }
        img{
          width: 100%;
          height: 100%;
          transition: all .4s ease;
          object-fit: cover;
        }
      }
    }
    &:hover{
      .bg-img{
        img{
          transform: scale(1.05);
        }
      }
    }
  }
  .text-wrap{
    position: relative;
    padding: 0 15px 50px;
    min-height: 230px;
    p{
      margin-bottom: 10px;
    }
    p.data{
      margin: 0;
      font-weight: 700;
      position: absolute;
      bottom: 20px;
      left: 15px;
    }
  }
  h6{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }
}
.default-slider .nav-wrap{
  position: absolute;
  top: 50%;
  left: -50px;
  right: -50px;
  display: flex;
  justify-content: space-between;

  &>div{
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 38px;
    transition: all .4s ease;
    transform-origin: center;
    transform: scale(1);
    margin-top: -45px;
    img{
      width: 100%;
      transition: all .4s ease;
    }
    &:after{
      display: none;
    }
    &:hover{
      img{
        transform: scale(1.2);

      }
    }
  }
  .swiper-button-next{
    img{
      transform: rotate(180deg)scale(1);
    }
    &:hover{
      img{
        transform: scale(1.2)rotate(180deg);
      }
    }
  }
}

.min-slider{
  position: relative;
  width: 100%;
  height: 100%;
  .img-wrap{
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s ease;
    }
    &:hover{
      img{
        transform: scale(1.02);
      }
    }
  }
  .nav-wrap{
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    &>div{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      transition: all .4s ease;
      transform-origin: center;
      transform: scale(1);
      margin-top: -15px;
      border-radius: 100%;
      background: #0d83d0;
      i{
        font-size: 16px;
        color: #fff;
      }
      &:after{
        display: none;
      }

    }
    .equipment-next{
      img{
        transform: rotate(180deg)scale(1);
      }
      &:hover{
        img{
          transform: scale(1.2)rotate(180deg);
        }
      }
    }
  }
}

.default-slider{
  position: relative;
}
/*-----------------------END-AUTO-WAY-------------------------------*/
/*-----------------------SERVICES-------------------------------*/
.services{
  background: #eeeeee;
  padding: 0 0 75px;
  h6{
    color: #00a9b6;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .content{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    .item{
      margin: 10px 10px 0;
      background: #fff;
      box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
      padding: 20px 10px;
      width: 250px;
      border-radius: 10px;
      h6{
        color: #00a9b6;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 700;
        margin-bottom: 30px;
      }
    }
  }
  h2{
    text-align: center;
  }
  .btn-wrap{
    text-align: center;
  }
  .bottom{
    margin: 25px auto 0;
    max-width: 800px;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
    text-align: center;
  }
}
.list-check{
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li{
    padding: 60px 10px 0;
    position: relative;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    width: 33.33%;
    text-align: center;
    margin-bottom: 40px;
    &:before, span{
      position: absolute;
      top: 0;
      left: 50%;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      content: '\f00c';
      font-family: "Font Awesome 5 Pro";
      font-weight: 400;
      color: #fff;
      font-size: 14px;
      background-color: #1e9cdb;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, 0);

    }
    span{
      img{
        width: 20px;
        filter: invert(1);
      }
    }
    &:before{
      display: none;
    }
  }
}
/*----------------------END-SERVICES-------------------------------*/
/*----------------------TOTAL-COST------------------------------*/
.total-cost{
  padding: 75px 0 75px;
  ul.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &>li{
      width: calc(20% - 8px);
      margin: 0 5px;
      padding: 20px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 1px 1px 10px 0px rgba(222,222,222, 1);
      figure{
        height: 65px;
        text-align: center;
        margin-bottom: 20px;
        img{
          width: 65px;
          height: auto;
        }
      }
      p{
        font-size: 12px;
        line-height: 1.55;
        font-weight: 400;
      }
      p + p{
        margin-top: 10px;
      }
      ul{
        li{
          font-size: 12px;
          line-height: 1.55;
          font-weight: 400;
        }
      }
    }
    li:first-child{
      margin-left: 0;
    }
    li:last-child{
      margin-right: 0;
    }
  }
  ul.point-list li:before{
    top: 7px;
  }
  .btn-wrap{
    margin-top: 40px;
    text-align: center;
  }
}
/*---------------------END-TOTAL-COST------------------------------*/
/*---------------------ABOUT------------------------------*/
.about{
  padding: 75px 0 75px;
  background: #eeeeee;
  .content{
    margin-top: -175px;
  }
  h2{
    margin: 0;
    max-width: 40%;
  }
  .line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .left{
      width: calc(63% - 20px);
      .item{
        width: 100%;
        min-height: 215px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background: #fff;
        figure{
          width: 225px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .text-wrap{
          width: calc(100% - 225px);
          p{
            margin: 0;
          }
        }
      }
    }
    .right{
      width: 37%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .item{
        width: calc(50% - 10px);
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        min-height: 215px;
        text-align: center;
        margin-bottom: 20px;
        figure{
          height: 130px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;
        }
        p{
          text-align: center;
        }
      }
    }
  }
  .slider-wrap{
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
  }
  h5{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
  }
  .swiper-pagination{
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
}
.about-slider{
  padding: 5px;
  background: #fff;
  .swiper-slide{
    box-shadow: 2px 2px 10px 0px rgba(222,222,222,1);
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    figure{
      height: 180px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    p{
      font-size: 14px;
      line-height: 1.55;
      font-weight: 700;
      min-height: 66px;
      a{
        font-size: 14px;
        line-height: 1.55;
        color: #0d83d0;
        font-weight: 700;
        &:hover{
          color: #13ce66;
        }
      }
    }
  }

}
/*--------------------END-ABOUT------------------------------*/
/*--------------------TESTIMONIALS------------------------------*/
.testimonials{
  padding: 75px 0 65px;
  .title{
    max-width: 700px;
    margin-bottom: 30px;
  }
  .link-wrap{
    margin-top: 50px;
    text-align: center;
    a{
      display: flex;
      align-items: center;
      width: fit-content;
      margin: auto;
      color: #0d83d0;
      font-weight: 400;
      img{
        margin-right: 10px;
        width: 40px;
      }
      &:hover{
        color: #13ce66;
      }
    }
  }
  .auto-way-slider .text-wrap{

    .stars-wrap{
      position: absolute;
      bottom: 20px;
      left: 20px;
      p{
        font-weight: 700;
        margin-bottom: 5px;
      }
      .stars{
        display: flex;
        align-items: center;
        img{
          width: 20px;
          margin-right: 2px;
        }
      }
    }
  }
  .testimonials-slider{
    padding: 10px 9px;
    margin-left: -20px;
    width: calc(100% + 20px);
    max-width: calc(100% + 20px);
    .swiper-slide{
      box-shadow: 2px 2px 10px 0px rgba(222,222,222,1);
    }
  }
}
/*-------------------END-TESTIMONIALS------------------------------*/
/*-------------------CALL-BACK------------------------------*/
.call-back{
  padding: 50px 0 50px;
  background: #c8c7c7;
  .content{
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    h6{
      margin-bottom: 20px;
      color: #0d83d0;
      font-size: 20px;
      line-height: 1.55;
      font-weight: 400;
    }
  }
  h3{
    font-size: 35px;
    line-height: 1.55;
    text-transform: uppercase;
    font-weight: 700;
  }
}
/*------------------END-CALL-BACK------------------------------*/
/*------------------FOOTER------------------------------*/
footer{
  background: #000;
  padding: 75px 0 0;
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo-wrap{
    width: 250px;
    a{
      display: inline-block;
      width: 180px;
      img{
        width: 100%;
      }
    }
  }
  .soc-list{
    display: block;
    margin-top: 15px;
    li{
      display: inline-block;
      margin-right: 15px;
      a{
        color: #fff;
        font-size: 20px;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    li:last-child{
      margin-right: 0;
    }
  }
  .bottom{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 15px 10px;
    p{
      color: #525252;
      font-size: 12px;
      line-height: 1.55;
      margin: 0;
    }
  }
  .footer-menu{
    width: calc(100% - 350px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item{
      width: 180px;
      h6{
        color: #525252;
        font-size: 16px;
        line-height: 1.55;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
      ul{
        li{
          margin-bottom: 5px;
          a{
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            &:hover{
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.open-menu{
  display: none;
}

.fancybox-fx-slide-in-out.fancybox-slide--previous {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.fancybox-fx-slide-in-out.fancybox-slide--next {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.fancybox-fx-slide-in-out.fancybox-slide--current {
  -webkit-transform: translateX(0);
  transform: translateX(0); }
/*-----------------END-FOOTER------------------------------*/
/*-----------------PAGE-BUY------------------------------*/
.buy{
  padding: 30px 0 30px;
  background: #eee;
  .content{
    padding: 30px 40px;
    border-radius: 10px;
    background: #fff;
    max-width:100%;
    width: 955px;
    margin: auto;
  }
  h1{
    color: #000000;
    font-size: 56px;
    line-height: 1.55;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }
  .item{
    position: relative;
    padding-left: 130px;
    margin-bottom: 30px;
    .img-wrap{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 85px;
      height: 85px;
      background-color: #13ce66;
      img{
        width: 43px;
      }
    }
    h6{
      font-size: 14px;
      line-height: 1.55;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
    }
    p{
      font-size: 14px;
      line-height: 1.55;
      a{
        font-size: 14px;
        line-height: 1.55;
        color: #0d83d0;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  .item:last-child{
    margin-bottom: 0;
  }
  .link-wrap{
    text-align: center;
    margin-top: 30px;
    a{
      color: #0d83d0;
      font-size: 20px;
      line-height: 1.55;
      font-weight: 400;
      text-align: center;
      &:hover{
        color: #13ce66;
      }
    }
  }
}

.top-line .top-menu > ul > li.current{
  a{
    opacity: 0.7;
    &:after{
      opacity: 0.7;
      transform: scaleX(1);
    }
  }
}
.popup-quiz .nav-wrap{
  z-index: 999;
}
.send-ok{
  position: relative;
  z-index: 9999;
}
.popup-quiz .input-wrap-fix input{
  border-radius: 0;
}
.popup-quiz .content h6{
  font-weight: 400;
}
.ok-green{
  text-align: center;
  background: #62c584;
  color: #fff;
  padding: 20px;
  margin: 20px 0;
  font-size: 20px;
  line-height: 1.55;
  p{
    font-size: 16px;
    line-height: 1.55;
    color: #fff;
  }
  h6{
    font-size: 20px;
    line-height: 1.55;
    color: #fff;
    margin-bottom: 10px;
  }
}
label.error{
  position: relative!important;
  display: block!important;
  color: red!important;
  bottom: 0!important;
  top: 0!important;
  left: 0!important;
  font-size: 12px!important;
  padding-top: 3px!important;
  transform: none!important;
  line-height: 1!important;
  opacity: 0.5;
}
input.error{
  border-color: red!important;
}
.home-banner .btn-big{
  font-weight: 700;
}
/*----------------END-PAGE-BUY------------------------------*/
.auto-usa .auto-slider{
  padding: 5px 0;
}


.popup-choice .input-wrap-submit{
  position: relative;
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    cursor: no-drop;
    background: rgba(#fff, 0.5);
  }
}

.popup-choice.is-val .input-wrap-submit:after{
  display: none;
}

.services h2{
  margin-bottom: 20px;
}
.list-check{
  padding: 30px 0 0;
  background: #fff;
  border-radius: 10px;
}

.testimonials-pagination{
  position: relative;
  bottom: 0;
  margin-top: 20px;
}
.services{
  padding-bottom: 30px;
}
.services .content-width{
  padding-bottom: 20px;
  background: #fff;
  border-radius: 10px;
}

.delivery .info-list li{
  text-align: center;
}

.admin-show-head{
  margin: 30px 0 30px;
  .content{
    background: #fff;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    border: 1px solid #b5b4b4;
    overflow: hidden;
    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;
      border-bottom: 1px solid #b5b4b4;
      margin-bottom: -1px;
      padding: 20px 30px;
      a{
        color: blue;
        font-size: 16px;
        i{
          margin-left: 10px;
        }
      }
    }
    .wrap{
      display: none;
      background: #fff;
      padding: 30px;
      p{
        text-align: center;
        margin-bottom: 20px;
      }
      ul{
        background: #95e095;
        border: 1px solid #eee;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 30px;
        li{
          min-height: 30px;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #eee;
          p{
            margin: 0;
            text-align: left;
          }
        }
        li:last-child{
          border-bottom: 0;
        }
      }
      .btn-wrap{
        text-align: center;
      }
    }
  }
}

section{
  .edit-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: 99;
    top: 10px;
    right: 10px;
    opacity: 0.6;
    color: red;
    font-size: 12px;
    background: #000;
    &:hover{
      opacity: 1;
    }
  }
}


.default-slider-testimonials{
  .nav-wrap{
    margin-left: -20px;
  }
}

.form-default, .form-quiz{
  .input-wrap-check{
    margin-bottom: 15px;
    input{
      position: absolute;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }
    label{
      display: block;
      span{
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        &:after{
          position: absolute;
          top: 2px;
          left: 0;
          width: 20px;
          height: 20px;
          border: 2px solid #838383;
          border-radius: 3px;
          content: '';
          box-sizing: border-box;
        }
      }
      input:checked + span{

      }
    }
    .is-active{
      span{
        &:before{
          width: 12px;
          height: 12px;
          position: absolute;
          top: 6px;
          left: 4px;
          content: '';
          background-color: #19ba75;
        }
        &:after{
          border-color: #19ba75;
        }
      }
    }
  }
}

.form-quiz{
  .input-wrap-check{
    margin-top: 20px;
  }
}

.auto-usa .slider-wrapr{
  background: transparent;
}

.form-default .input-wrap-check label span:after, .form-quiz .input-wrap-check label span:after{
  top: 12px;
}
.form-default .input-wrap-check label input:checked + span:before, .form-quiz .input-wrap-check label input:checked + span:before{
  top: 16px;
}
.popup-quiz .swiper-slide .select-block{
  padding-bottom: 20px;
}

/*.form-default .input-wrap-check label span:after{
  top: 0;
}*/

.call-back .content{
  margin: auto;
}
.info-buy .content{
  border-radius: 10px;
  overflow: hidden;
}


.form-default .input-wrap-check, .form-quiz .input-wrap-check{
  position: relative;
  .error{
    position: absolute!important;
    top: inherit!important;
    bottom: -7px!important;
  }
}

.form-default .input-wrap-check .is-active span:before, .form-quiz .input-wrap-check .is-active span:before{
  top: 4px;
}

.auto-way-slider .text-wrap .btn-default{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}